.body-index {
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    color: white;
}
.fondo-oscuro {
    background-color: rgba(0, 0, 0, 0.425);
}

.body-contenido {
    background-color: #02b821;
}