@mixin boton-compartido {
    padding: 0.5rem;
    color: $boton;
    border-radius: 1rem;
    display: block;
    margin: 0 auto;
   display: flex;
   text-decoration: none;
   color: inherit;
}

@mixin text-contenido {
    text-align: center;
    color: #d2cdcd;
}

@mixin text-descarga  {
    text-align: center;
    
    }

    .Descarga {
        @include text-descarga()
    }

.tittle {
    @include text-contenido()
}
.boton-descarga {
    @include boton-compartido()
}

.button-descripcion {
    @include boton-compartido()
}

.boton-Informacion {
    @include boton-compartido()

}