@mixin boton-compartido {
    padding: 0.5rem;
    color: $boton;
    border-radius: 1rem;
    display: block;
    margin: 0 auto;
   display: flex;
   text-decoration: none;
   color: inherit;
}

@mixin centrado {
    text-align: center;
    color: #d2cdcd;
}

.tittle {
    @include centrado()
}
.boton-descarga {
    @include boton-compartido()
}

.button-descripcion {
    @include boton-compartido()
}

.boton-Informacion {
    @include boton-compartido()

}